* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    user-select: unset;
}

.desktop {
    background-image: url("assets/desktop-image.png");
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: end;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.taskbar {
    background-color: #101010;
    height: 50px;
    /* adjusts when in a 125% dpi screen */
    zoom: 80%;
    display: flex;
    /* justify-content: space-between; */
}

.start-button {
    background: none;
    outline: none;
    border: none;
    padding: 15px 20px;
    transition: .2s;
}

.start-button:hover {
    background-color: #272727;
}

.start-button:active {
    background-color: #1c1c1c;
}

.start-button-icon {
    height: 20px;
    width: 20px;
    user-select: none;
    color: white;
    transition: .1s;
    filter: grayscale(100) brightness(100);
}

.search-container {
    background-color: #3f3f3f;
    display: flex;
    width: 360px;
    border: #808080 solid 1px;
    padding: 2px;
    margin-right: 4px;
}

.search-container:hover {
    background-color: #4b4b4b;
    cursor: text;
    border-width: 3px;
    border-collapse: separate;
    padding: 0;
}

.search-icon-container {
    padding: 14px;
}

.search-icon {
    height: 20px;
    width: 20px;
}

.search-field {
    background: none;
    width: 224px;
    font-size: 20px;
    outline: none;
    border: none;
    color: aliceblue;
}

.search-field::placeholder {
    color: #fff;
    font-weight: 300;
}

.application-button {
    background: none;
    border: none;
    transition: .1s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
}

.application-button:hover {
    background-color: #272727;
}

.application-button:active {
    background-color: #1b1b1b;
}

.application-icon {
    height: 30px;
}